In [2]:
import pandas as pd

In [13]:
path_to_profile = 'profiled_metagenome.txt'
profile_df = pd.read_csv(path_to_profile, delimiter = '\t', skiprows = [1])
profile_df[-5:-1]


#f = open("/gfs/data/curated_metagenomes_kraken2/RampelliS_2015‚Å©/profiled_metagenome.txt", encoding="utf-8")

                                             #SampleID  Metaphlan2_Analysis
154  k__Archaea|p__Euryarchaeota|c__Methanobacteria...              0.01021
155  k__Bacteria|p__Actinobacteria|c__Actinobacteri...              0.00420
156  k__Eukaryota|p__Eukaryota_noname|c__Eukaryota_...              0.00403
157  k__Bacteria|p__Firmicutes|c__Negativicutes|o__...              0.00267

In [28]:
profile_df_2 = profile_df
profile_df_2['level'] = None
profile_df_2['k'] = None
profile_df_2['p'] = None
profile_df_2['c'] = None
profile_df_2['o'] = None
profile_df_2['f'] = None
profile_df_2['g'] = None
profile_df_2['s'] = None
profile_df_2['t'] = None
profile_df_2['value'] = profile_df_2["Metaphlan2_Analysis"]

In [29]:
profile_df_2.head()

,#SampleID,Metaphlan2_Analysis,k,p,c,o,f,g,s,t,value,level
0,k__Archaea,0.01021,None,None,None,None,None,None,None,None,0.01021,None
1,k__Eukaryota,0.00403,None,None,None,None,None,None,None,None,0.00403,None
2,k__Bacteria|p__Bacteroidetes,52.50972,None,None,None,None,None,None,None,None,52.50972,None
3,k__Bacteria|p__Firmicutes,47.04921,None,None,None,None,None,None,None,None,47.04921,None
4,k__Bacteria|p__Actinobacteria,0.31673,None,None,None,None,None,None,None,None,0.31673,None

In [30]:
for p in profile_df_2["#SampleID"]:
    row_level = None
    tags = p.split('|')
    for tag in tags:
        tmp = tag.split('__')
        level = tmp[0]
        name = tmp[1]
        profile_df_2
        row_level = level
        
        profile_df_2.loc[profile_df_2['#SampleID'] == p, level] = name
    profile_df_2.loc[profile_df_2['#SampleID'] == p, 'level'] = row_level

In [31]:
profile_df_2.head()

,#SampleID,Metaphlan2_Analysis,k,p,c,o,f,g,s,t,value,level
0,k__Archaea,0.01021,Archaea,None,None,None,None,None,None,None,0.01021,k
1,k__Eukaryota,0.00403,Eukaryota,None,None,None,None,None,None,None,0.00403,k
2,k__Bacteria|p__Bacteroidetes,52.50972,Bacteria,Bacteroidetes,None,None,None,None,None,None,52.50972,p
3,k__Bacteria|p__Firmicutes,47.04921,Bacteria,Firmicutes,None,None,None,None,None,None,47.04921,p
4,k__Bacteria|p__Actinobacteria,0.31673,Bacteria,Actinobacteria,None,None,None,None,None,None,0.31673,p

In [33]:
df_s = profile_df_2.loc[profile_df_2['level'] == 's']

In [34]:
df_s.head()

,#SampleID,Metaphlan2_Analysis,k,p,c,o,f,g,s,t,value,level
77,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o_...,31.23058,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Prevotellaceae,Prevotella,Prevotella_copri,None,31.23058,s
78,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o_...,21.21923,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Prevotellaceae,Prevotella,Prevotella_stercorea,None,21.21923,s
79,k__Bacteria|p__Firmicutes|c__Negativicutes|o__...,11.86527,Bacteria,Firmicutes,Negativicutes,Selenomonadales,Acidaminococcaceae,Phascolarctobacterium,Phascolarctobacterium_succinatutens,None,11.86527,s
80,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,4.72444,Bacteria,Firmicutes,Clostridia,Clostridiales,Ruminococcaceae,Faecalibacterium,Faecalibacterium_prausnitzii,None,4.72444,s
81,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,4.09155,Bacteria,Firmicutes,Clostridia,Clostridiales,Lachnospiraceae,Roseburia,Roseburia_inulinivorans,None,4.09155,s

In [35]:
df_s['value'].sum()

99.96814999999998

In [39]:
df_s.loc[[s.endswith('unclassified') for s in df_s['s']]]['value'].sum()

3.8713

In [41]:
df_g = profile_df_2.loc[profile_df_2['level'] == 'g']
df_g.loc[[s.endswith('unclassified') for s in df_s['g']]]['value'].sum()

0.0

In [43]:
df_f = profile_df_2.loc[profile_df_2['level'] == 'f']
df_f.loc[[s.endswith('unclassified') for s in df_s['f']]]['value'].sum()

0.0

In [44]:
df_o = profile_df_2.loc[profile_df_2['level'] == 'o']
df_o.loc[[s.endswith('unclassified') for s in df_s['o']]]['value'].sum()

0.0

In [45]:
df_c = profile_df_2.loc[profile_df_2['level'] == 'c']
df_c.loc[[s.endswith('unclassified') for s in df_s['c']]]['value'].sum()

0.0

In [46]:
df_p = profile_df_2.loc[profile_df_2['level'] == 'p']
df_p.loc[[s.endswith('unclassified') for s in df_s['p']]]['value'].sum()

0.0

In [47]:
df_k = profile_df_2.loc[profile_df_2['level'] == 'k']
df_k.loc[[s.endswith('unclassified') for s in df_s['k']]]['value'].sum()

0.0

In [49]:
df_p

,#SampleID,Metaphlan2_Analysis,k,p,c,o,f,g,s,t,value,level
2,k__Bacteria|p__Bacteroidetes,52.50972,Bacteria,Bacteroidetes,None,None,None,None,None,None,52.50972,p
3,k__Bacteria|p__Firmicutes,47.04921,Bacteria,Firmicutes,None,None,None,None,None,None,47.04921,p
4,k__Bacteria|p__Actinobacteria,0.31673,Bacteria,Actinobacteria,None,None,None,None,None,None,0.31673,p
5,k__Bacteria|p__Spirochaetes,0.06728,Bacteria,Spirochaetes,None,None,None,None,None,None,0.06728,p
6,k__Bacteria|p__Proteobacteria,0.04281,Bacteria,Proteobacteria,None,None,None,None,None,None,0.04281,p
7,k__Archaea|p__Euryarchaeota,0.01021,Archaea,Euryarchaeota,None,None,None,None,None,None,0.01021,p
8,k__Eukaryota|p__Eukaryota_noname,0.00403,Eukaryota,Eukaryota_noname,None,None,None,None,None,None,0.00403,p